name: golangci-lint

on:
  push:
    branches:
      - main
  pull_request:

env:
  GOLANG_LINT_VERSION: "v1.51.2"

jobs:
  golangci:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.5.0
        with:
          version: ${{ env.GOLANG_LINT_VERSION }}
          args: -D errcheck
