name: golang-tests

on:
  push:
    branches:
      - main
  pull_request:

env:
  GOLANG_VERSION: "1.14"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GOLANG_VERSION }}
      - name: run tests
        run: |
          go test
