name: golang-tests

on:
  push:
    branches:
      - main
  pull_request:

env:
  GOLANG_VERSION: "1.23"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-go@v6.2.0
        with:
          go-version: ${{ env.GOLANG_VERSION }}
      - shell: bash
        run: |
          go test
